@media (max-width: 1024px) {

  .s1 {
    padding: 40px;

    .container h1 {
      font-size: 32px;
    }
  }

  .s2 {
    .s2-grid {
      flex-direction: column;
      gap: 40px;
    }

    .left,
    .right {
      max-width: 100%;
    }

    .steps-card ul {
      grid-template-columns: 1fr;
    }
  }

  .s3 {
    .s3-grid {
      flex-direction: column;
      gap: 40px;
    }

    .right img {
      width: 100%;
      height: auto;
    }
  }

  .s4 {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  .s5 {
    .steps {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  .s6 {
    .top {
      flex-direction: column;
    }

    .tabs {
      width: 100%;
      flex-wrap: wrap;
    }

    .result {
      width: 100%;
    }
  }

  .s7 {
    .s7-box {
      flex-direction: column;
      gap: 40px;
    }

    .right .list {
      grid-template-columns: 1fr;
    }
  }

  .s8 {
    .s8-box {
      flex-direction: column;
    }

    .right {
      justify-content: center;

      img {
        width: 100%;
        border-radius: 0 0 20px 20px;
      }
    }
  }

  .s9 {
    .grid {
      grid-template-columns: 1fr 1fr;
    }

    .bottom {
      grid-template-columns: 1fr 1fr;
    }
  }

}

@media (max-width: 640px) {

  .s5-carousel {
    display: block;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .s1 {
    padding: 30px 20px;
    height: 350px;
    background-image: url('../assets/bgmobile.jpg');


    .container h1 {
      font-size: 28spx;

      width: 200px;

      br {
        display: none;
      }
    }
  }

  .s2 {
    padding: 60px 20px;

    .highlight {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;

      .highlight-icon {
        width: 60px;
        height: 60px;
      }
    }

    .left {
      h2 {
        font-size: 22px;

        br {
          display: none;
        }
      }
    }


  }

  .s3,
  .s4,
  .s5,
  .s6,
  .s7,
  .s8,
  .s9,
  .s10 {
    padding: 60px 20px;
  }

  .s3 {
    padding-top: 0;

      .rightmobile {
    display: block;
  }

    .right {
      display: none;
    }

    .rightmobile {
      width: 100%;

      img {
        width: 100%;
        height: 230px;
        margin-bottom: 20px;
      }
    }

    .left h2 {
      font-size: 22px;

      br {
        display: none;
      }
    }

    .cta {
      max-width: 100%;
    }
  }

  .s3-modal {

    .close-modal {
      width: 25px;
      height: 25px;
    }

    .s3-modal-content {

      padding: 20px;
    }

    h3 {
      font-size: 20px;

      sup {
        font-size: 10px;
      }

      br {
        display: none;
      }
    }
  }

  .s4 {
    h2 {
      font-size: 22px;
      text-align: start;
    }

    .card {
      padding: 20px;
    }
  }

  .s5 {
    .steps {
      display: none;
    }

    h2 {
      font-size: 20px;
    }

    .card {
      border-radius: 10px;
      padding: 40px 20px;

      p {
        font-size: 18px;
      }
    }

    .mt {
      margin-top: 70px;
    }

    .cards {
      grid-template-columns: 1fr;
    }

    .final-box .alert {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: flex-start;
    }
  }

  .s6 {
    .top .right img {
      width: 100%;
      height: auto;
    }

    .top {
      gap: 20px;

      .left h2 {
        font-size: 22px;

        br {
          display: none;
        }
      }
    }

    .tabs {
      flex-wrap: nowrap;
      border-radius: 5px 5px 0 0;


      .tab {
        font-size: 8px;
        padding: 8px;

        &.active {
          border-radius: 5px 5px 0 0;
        }
      }
    }

    .ctas {
      flex-direction: column;

      .cta {
        span {
          width: 250px;

          br {
            display: none;
          }
        }
      }
    }
  }

  .s6-modal {
    h3 {
      font-size: 22px;

      sup {
        font-size: 10px;
      }

      br {
        display: none;
      }
    }

    .close-modal {
      width: 25px;
      height: 25px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.3s ease;
      }
    }
  }

  .s7 {
    .s7-box {
      padding: 30px 20px;
    }

    .left h2 {
      font-size: 22px;
    }

    .right {
      .cta {
        span {
          br {
            display: none;
          }
        }
      }

    }
  }

  .s7-modal {
    h3 {
      font-size: 22px;

      sup {
        font-size: 10px;
      }

      br {
        display: none;
      }
    }

    .close-modal {
      width: 25px;
      height: 25px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: transform 0.3s ease;
      }
    }
  }

  .s8 {
    padding-bottom: 20px;
    .left {
      padding: 20px;
    }

    .s8-box {
      flex-direction: column-reverse;
    }

    .right {
      img {
        border-radius: 20px 20px 0 0;
        height: 200px;

      }
    }


    .left {
      .groups {
        flex-direction: column;
        align-items: flex-start;

        .badges {
          width: 200px;
        }
      }
      h2 {
      font-size: 24px;
    }
    }
  }


  .s9 {
    padding-top: 20px;
    padding-bottom: 0;
    h2 {
      font-size: 22px;
      br {
        display: none;
      }

      sup{
        font-size: 13px;
      }
    }

    .text {
      padding: 20px;
      text-align: left;
    }

    .grid,
    .bottom {
      grid-template-columns: 1fr;
    }

    .top {
      padding: 20px;
    }

    .bottom {
      padding: 20px;
    }
  }

  .s10 {
    padding: 40px 20px;
  }

  .back-to-top {
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 15px;
  }
}